.about {
  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding: 20px;
    width: 100%;
    overflow: hidden;
    &__image {
      display: flex;
      flex-direction: column;

      h3 {
        margin-bottom: 10px;
        font-size: 2.5rem;
        font-weight: 700;
        color: var(--yellow-theme-main-color);
      }
      h3.personalInformationHeaderText {
        padding-top: 20px;
      }
      ul > li {
        line-height: 1rem;
        margin-bottom: 15px;

        span.title,
        span.value {
          font-size: 18px;
          font-weight: 700;
          letter-spacing: 0.5px;
          border-bottom: 2px solid var(--yellow-theme-main-color);
          position: relative;
          display: inline-block;
          margin-right: 16px;
          padding-bottom: 5px;
          color: var(--yellow-theme-sub-text-color);
        }
        span.value {
          border: none;
        }
      }
    }

    &__personalWrapper {
      h3 {
        margin-bottom: 10px;
        font-size: 2.5rem;
        font-weight: 700;
        color: var(--yellow-theme-main-color);
      }

      p {
        color: var(--yellow-theme-sub-text-color);
        font-size: 1.2rem;
        line-height: 1.65;
        padding-bottom: 20px;
      }
    }
    &__serviceWrapper {
      display: flex;

      h3 {
        margin-bottom: 10px;
        font-size: 2.5rem;
        font-weight: 700;
        color: var(--yellow-theme-main-color);
        margin-bottom: 1rem;
      }
      &__innerContent {
        margin: auto;
        width: 350px;
        height: 350px;
        background: radial-gradient(
          180px,
          var(--yellow-theme-main-color),
          transparent 90%
        );
        position: relative;
        border-radius: 50%;
        border: 1.5px solid var(--yellow-theme-main-color);
        animation: rotation 10s linear 1s infinite;
        div:nth-child(1) {
          position: absolute;
          top: -12%;
          left: 38%;
        }
        div:nth-child(2) {
          position: absolute;
          right: -8%;
          top: 50%;
        }
        div:nth-child(3) {
          position: absolute;
          bottom: -7%;
          left: 25%;
        }
        div:nth-child(4) {
          position: absolute;
          left: -8%;
          top: 46%;
        }
        div:nth-child(5) {
          position: absolute;
          top: 5%;
          left: -1%;
        }
        div:nth-child(6) {
          position: absolute;
          right: 5%;
          top: 6%;
        }
      }
    }
    &__image {
      height: 100%;

      img {
        height: 300px;
        object-fit: cover;
        width: 300px;
        border-radius: 50%;
        align-self: center;
        border: 1.5px solid var(--yellow-theme-main-color);
      }
    }
  }
}
@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 768px) {
  .about__content {
    display: flex;
    flex-direction: column;
    &__image {
      justify-content: center;
      align-items: center;
    }
    &__personalWrapper,
    &__serviceWrapper {
      width: 100%;
    }
    &__serviceWrapper {
      margin: 10px 0px;
      &__innerContent {
        width: 250px;
        height: 250px;
        background: radial-gradient(
          100px,
          var(--yellow-theme-main-color),
          transparent,
          120%
        );
      }
    }
  }
}

@media only screen and (max-width:480px){
  .about {
    h3{
      font-size: 1.5rem;
    }
  }
}
